@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

.encabezado {
    display: flex;
    font-family: 'Hind Madurai', sans-serif;
    background-color: white;
    margin-bottom: 20px;
}
nav {
    padding-top: 19px;
    width: 70vw;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;

}
.menu {
    position: relative;
    text-decoration: none;
    color: rgb(54, 57, 59);
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
}
.menu:before,
.menu:after {
content: "";
position: absolute;
height: 3px;
width: 0;
background: rgb(5, 172, 255);
transition: .5s;
}
.menu:after {
    left: 0;
    bottom: -10px;

}
.menu:before {
    right: 0;
    top: -10px;

}
.menu:hover:after,
.menu:hover:before {
    width: 100%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color: white;
}
p {
    font-family: 'Lora', serif;
    font-size: 28px;
    color: rgb(54, 57, 59);
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 50px; 
}
.imagen-fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://raw.githubusercontent.com/Davidlongas/LongasStamps-Oficial/main/Imagenes/Serigrafia.jpg);
    width: auto;
    max-width: 1200px;
    height: 400px;
    background-position: center;
    padding-top: 100px;
    
}
.texto, .gif-pequeno {
    text-align: center;
   
}
.presentacion {
    width: 90%;
    max-width: 1200px;
display: grid;
padding-top: 100px;
background-image: url(https://raw.githubusercontent.com/Davidlongas/LongasStamps-Oficial/main/Imagenes/Patron-azul-y-gris-20.png);
}
.actividad1 {
    grid-area: izquierda;
    
}
.descripcion {
    grid-area: medio;
    padding: 0 50px 0px 50px;
}
.actividad2 {
    grid-area: derecha;
    
}
.presentacion {
    grid: "izquierda medio derecha";
}
.actividad2 img {
    border-radius: 1rem;
}
.contacto {
    width: 90%;
    max-width: 1200px;
    display: flex;
    background-image: url(https://raw.githubusercontent.com/Davidlongas/LongasStamps-Oficial/main/Imagenes/Patron-azul-y-gris-20.png);
    
}
.qr {
    padding: 0 50px 50px 50px;
    
}
.escanea {
    font-family: 'Hind Mudarai', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}
.medio {
    font-family: 'Hind Mudarai', sans-serif;
    top: 300px;
    text-align: center;
    font-size: x-large;
    padding: 0px 100px 0px 100px;
}
.titulo {
    max-width: 1200px;
    width: 90%;
    color: rgb(5, 42, 127);
    font-size: 40px;
    text-align: center;
    
}

@media screen and (max-width: 800px) {
    .encabezado {
        display: flex;
    }
    .imagen-fondo {
        display: block;
    }
    .presentacion {
        display: block;
        
    }
    .contacto {
        display: block;
        padding: 0px;
        width: 100%;
        
    }
    .qr{
        display: block;
        padding: 0px;
       
    }
    .titulo {
        font-size: 40px;
        margin-left: 10px;
    }
    .descripcion {
        padding: 0 10px 0 10px;
    }
    .actividad1 img {
        width: 100%;
    }
    .actividad2 img {
        width: 100%;
    }
    .qr-img img {
        width: 300px;
        height: 300px;
        
    }
   .medio {
    font-size: xx-large;
   }
   .escanea {
    padding: 0px 10px 0px 10px;
   }