@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
    color: rgb(5, 42, 127);
    font-size: 42px;
}
h3 {
  font-family: 'Lora', serif;
    font-size: 22px;
    color: rgb(54, 57, 59);

}
p {
  font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
}

.encabezado {
  font-family: 'Hind Madurai', sans-serif;
    background-color: white;
    display: flex;
}
.contenido-principal,  .contenido-tercero {
    background-image: url(https://raw.githubusercontent.com/Davidlongas/LongasStamps-Oficial/main/Imagenes/Patron-azul-y-gris-20.png);
    
    padding: 10px;
    width: 90%;
    max-width: 1200px;
    
}
nav {
    padding-top: 19px;
    width: 70vw;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;

}
.menu {
    position: relative;
    text-decoration: none;
    color: rgb(54, 57, 59);
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
}
.menu:before,
.menu:after {
content: "";
position: absolute;
height: 3px;
width: 0;
background: rgb(5, 172, 255);
transition: .5s;
}
.menu:after {
    left: 0;
    bottom: -10px;

}
.menu:before {
    right: 0;
    top: -10px;

}
.menu:hover:after,
.menu:hover:before {
    width: 100%;
}
.contenido-principal {
    margin-top: 10px;
    align-content: flex-start;
    display: flex;
}
.eslogan {
    padding: 25px;
    padding-top: 10px;
    padding-right: 50px;
    position: relative;
    text-align: center;
    margin-top: 50px;
}
.wbutton {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 24px;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #075E54;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #075E54;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #075E54;
  }
  
  .wbutton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #25D366;
  }
  
  .wbutton:active {
    transform: scale(0.9);
  }
  .ibutton {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 24px;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #5B51D8;
    background: transparent;
    cursor: pointer;
    transition: ease-out 1s;
    border: 2px solid #5B51D8;
    border-radius: 10px;
    
  }
  
  .ibutton:hover {
    color: white;
    background-image: linear-gradient(to bottom left, #405de6, #833ab4, #e1306c, #f56040, #fcaf45);
  }
  
  .ibutton:active {
    transform: scale(1);
  }
  .comodin {
    width: 100%;
    text-align: center;
  }
  .contenido-secundario {
    background-image: url(https://raw.githubusercontent.com/Davidlongas/LongasStamps-Oficial/main/Imagenes/Patron-azul-y-gris-20.png);
    width: 90%;
    max-width: 1200px;
  }
  .contenido-secundario, .flip-card-inner, .tarjeta {
    display: flex;
  }
.tarjeta {
  margin: 50px;
}
  .titulo {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    font-family: 'Lora', serif;
    color: rgb(5, 42, 127)
  }
  
  .cuerpo {
    opacity: 90%;

  }
  .tarjeta {
    background-color:white;
    width: 300px;
    height: 500px;
    perspective: 1000px;
    border-radius: 1rem;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .tarjeta:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    color: rgb(54, 57, 59);
    border: 25px solid transparent;
    background-color: white;
  }
  figure img {
    border-radius: 25px;
  }  
  .flip-card-back {
    background: white;
align-items: center;
    color: black;
    transform: rotateY(180deg);
    border: 10px solid transparent;
    
    
  }
  

.contenido-tercero {
  margin-top: 100px;
  display: flex;
}
.conexion-whatsapp {
  text-align: center;
  padding: 5%;
}
.ultimah3 {
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  
  .contenido-principal {
    display: block;
  }
  .eslogan, .stamp-planchando .encabezado {
    width: 100%;
  }
  .stamp-planchando {
    margin-left: 10%;
  }
  .contenido-secundario {
    display: block;
    width: 100%;
    align-items: center;
  }
  .tarjeta {
    width: 80%;
  }
  .contenido-tercero {
  display: block;
  width: 100%;
  }
 .stamp-planchando img {
  width: 300px;
 }
 .imagen-chat img {
  width: 300px;
 }
}